<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<form method="post" th:action="@{/login}">
    <label for="username">Usuário:</label>
    <input id="username" name="username" type="text"/>
    <br/>
    <label for="password">Senha:</label>
    <input id="password" name="password" type="password"/>
    <br/>
    <button type="submit">Entrar</button>
</form>

<p th:if="${param.error}">Usuário ou senha inválidos!</p>
<p th:if="${param.logout}">Logout realizado com sucesso!</p>
</body>
</html>
