<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="addFields(item)">

            <div>
                <label for="name">Name:</label>
                <input id="name" th:field="*{name}" type="text">
            </div>
            <div>
                <label for="description">Description:</label>
                <input id="description" th:field="*{description}" type="text">
            </div>
            <div>
                <label for="taskType">Task Type:</label>
                <select id="taskType" required th:field="*{taskType}">
                    <option disabled selected value="">-- selecione --</option>
                    <option th:each="taskType : ${taskTypes}"
                            th:text="${taskType.name}"
                            th:value="${taskType.value}">
                    </option>
                </select>
            </div>
            <div>
                <label for="cronExpression">Cron Expression:</label>
                <input id="cronExpression" th:field="*{cronExpression}" type="text">
            </div>
            <div>
                <label for="active">Active:</label>
                <input id="active" th:field="*{active}" type="checkbox">
            </div>
        </div>
    </body>
</html>
