<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="editFields(item)">
    <div>
        <label for="nome">Nome:</label>
        <input id="nome" required th:field="*{name}" type="text"/>
    </div>

    <div>
        <label for="email">Email:</label>
        <input id="email" required th:field="*{email}" type="email"/>
    </div>

    <div>
        <label for="password">Senha:</label>
        <input id="password" required th:field="*{password}" type="password"/>
    </div>

    <div>
        <label for="permissao">Permissão:</label>
        <select id="permissao" required th:field="*{roles}">
            <option disabled selected value="">-- selecione --</option>
            <option th:each="role : ${roles}"
                    th:text="${role.name}"
                    th:value="${role.id}">
            </option>
        </select>
    </div>
</div>
</body>
</html>
