<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title layout:title-pattern="${title} :: Meu App"></title>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <script defer th:src="@{/js/scripts.js}"></script>
    </head>
    <body>

        <header>
            <h1>Sistema ERP</h1>
            <nav>
                <a th:href="@{/pages/home}">Início</a> |
                <a th:href="@{/pages/cidades/consulta}">Cidades</a> |
                <a th:href="@{/pages/estados/consulta}">Estados</a>
                <form method="post" th:action="@{/logout}">
                    <button type="submit">Sair</button>
                </form>
            </nav>
            <hr/>
        </header>

        <main layout:fragment="content"></main>

        <footer>
            <hr/>
            <p>&copy; 2025 - SeidelSoft</p>
        </footer>

    </body>
</html>
