<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="editFields(item)">

    <div>
        <label for="cep">Cep:</label>
        <input id="cep" required th:field="*{cep}" type="text"/>
    </div>

    <div>
        <label for="logradouro">Logradouro:</label>
        <input id="logradouro" required th:field="*{logradouro}" type="text"/>
    </div>

    <div>
        <label for="numero">Numero:</label>
        <input id="numero" required th:field="*{numero}" type="text"/>
    </div>

    <div>
        <label for="bairro">Bairro:</label>
        <input id="bairro" required th:field="*{bairro}" type="text"/>
    </div>

    <div>
        <label for="complemento">Complemento:</label>
        <input id="complemento" required th:field="*{complemento}" type="text"/>
    </div>

    <div>
        <label for="pontoReferencia">Ponto de Referencia:</label>
        <input id="pontoReferencia" required th:field="*{pontoReferencia}" type="text"/>
    </div>

    <div>
        <label for="cidadeNome">Cidade nome:</label>
        <input disabled id="cidadeNome" required th:field="*{cidade.nome}" type="text"/>
    </div>

</div>
</body>
</html>
