<th:block th:fragment="tableLine(item)">
    <tr>
        <td th:text="${item.id}">1</td>
        <td th:text="${item.cep}">Cep</td>
        <td th:text="${item.logradouro}">Logradouro</td>
        <td th:text="${item.numero}">Numero</td>
        <td th:text="${item.bairro}">Bairro</td>
        <td th:text="${item.complemento}">Complemento</td>
        <td th:text="${item.pontoReferencia}">PontoReferencia</td>
        <td th:text="${(item.cidade != null && item.cidade.nome != null) ? item.cidade.nome : ''}">SP</td>
        <td>
            <a th:href="@{__${url}__/editar/{id}(id=${item.id})}">Editar</a>
            <a onclick="return confirm('Tem certeza que deseja excluir?')"
               th:href="@{__${url}__/delete/{id}(id=${item.id})}">Excluir</a>
        </td>
    </tr>
</th:block>