<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="addFields(item)">

    <div>
        <label for="nome">Nome:</label>
        <input id="nome" required th:field="*{nome}" type="text"/>
    </div>

    <div>
        <label for="pais">Pais:</label>
        <select id="pais" required th:field="*{pais}">
            <option disabled selected value="">-- selecione --</option>
            <option th:each="pais : ${paises}"
                    th:text="${pais.nome}"
                    th:value="${pais.id}">
            </option>
        </select>
    </div>

    <div>
        <label for="uf">uf:</label>
        <input id="uf" required th:field="*{uf}" type="text"/>
    </div>

    <div>
        <label for="ibge">Ibge:</label>
        <input id="ibge" required th:field="*{ibge}" type="text"/>
    </div>

</body>
</html>
