<th:block th:fragment="tableLine(item)">
    <tr>
        <td th:text="${item.id}">1</td>
        <td th:text="${item.nome}">Exemplo</td>
        <td th:text="${item.uf}">RS</td>
        <td th:text="${item.ibge}">Ibge</td>
        <td th:text="${(item.pais != null && item.pais.nome != null) ? item.pais.nome : ''}">SP</td>

        <th:block th:replace="~{fragments/_actionButtonsFragment :: actionButtons(
            item=${item},
            url=${url},
            canEditar=${canEditar},
            canExcluir=${canExcluir})}">
        </th:block>
    </tr>
</th:block>