<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="campos(item)">

            <div>
                <label for="ibge">Ibge:</label>
                <input id="ibge" required th:field="*{ibge}" type="text"/>
            </div>

            <div>
                <label for="nome">Nome:</label>
                <input id="nome" required th:field="*{nome}" type="text"/>
            </div>

            <div>
                <label for="estado">Estado:</label>
                <select id="estado" required th:field="*{estado}">
                    <option value="" disabled selected>-- selecione --</option>
                    <option th:each="estado : ${estados}" 
                            th:value="${estado.id}" 
                            th:text="${estado.nome}">
                    </option>
                </select>
            </div>

            <div>
                <label for="latitude">Latitude:</label>
                <input id="latitude" required th:field="*{latitude}" type="text"/>
            </div>


            <div>
                <label for="longitude">Longitude:</label>
                <input id="longitude" required th:field="*{longitude}" type="text"/>
            </div>

    </body>
</html>
